.header{

	width: 80%;
	height: 200px;
}

.items, .listArticle{
	padding:5px 0;

}
.listArticle .items .item-topic {

border: #ccc 1px solid ;
padding:3px;

}
.listArticle .items .item-topic .item-info{
	padding-left:10px;
}
.listArticle .items .item-topic a{
	text-decoration:none;
	color:#000;
}
.listArticle .items .img-thumbnail{
	margin: 0;

}
.listArticle .items .item-topic p{
	color:#65686B;
	font-family: 'Open Sans',sans-serif;
}

.artcl .content p{
	padding: 3px;
}
.artcl {
	background-color:#fff;
	padding:5px;
	margin-top:15px;
}
.artcl .content p{
	font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;;
	margin:15px 15px 0 0;
	color:#8a6d3b;
	text-align: justify;
	text-indent: 40px;
	letter-spacing: 1.5px;
	line-height: 1.8;
}